* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.div1 {
    width: 100%;
    height: 600px;
    background-image: url("./images/p12.jpg");
    background-size: cover;
    background-position: right;
    position: relative;
    display: flex;
    justify-content: center;
}

.text1 {
    margin: 0 auto;
    background-color: #343866;
    height: 600px;
    width: 1400px;
    position: absolute;
    opacity: 0.5;
}

.div1 h2 {
    z-index: 1;
    color: #fff;
    text-align: center;
    font-size: 40px;
    position: absolute;
    margin-top: 200px;
}

.div1 h1 {
    z-index: 1;
    color: #fff;
    margin-top: 300px;
    text-align: center;
    font-size: 50px;
    position: absolute;
}

.div1 h3 {
    z-index: 1;
    color: #fff;
    margin-top: 400px;
    text-align: center;
    font-size: 40px;
    position: absolute;
}

.div2 {
    width: 100%;
    background-color: #fff;
}

.div2 .header2 {
    max-width: 1400px;
    background-color: #343866;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px 30px 0 0;
}

.div2 .header2 h1 {
    font-size: 40px;
    padding: 20px;
    color: #fff;
}

.div2 .text2 {
    max-width: 1400px;
    height: 300px;
    margin: 0 auto;
}

.div2 .text2 img {
    width: 400px;
    height: 300px;
    float: left;
    border-bottom-left-radius: 30px;
}

.div2 .text2 p {
    width: 1000px;
    height: 300px;
    float: right;
    font-size: 20px;
    padding: 30px;
    line-height: 25px;
    text-align: center;
    background-color: #343866ec;
    color: #fff;
    border-bottom-right-radius: 30px;
}

.full {
    border: 1px solid silver;
    width: 100%;
    margin: 0 auto;
}

.half {
    border: 1px solid silver;
    width: 20%;
    margin: 40px;
    margin: 0 auto;
    border-radius: 3px;
}

.div3 {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}

.div3 h1 {
    font-size: 40px;
    text-align: center;
}

.skills {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background-color: #343866ec;
    color: #fff;
    margin: 30px;
}

.div4 {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    background-color: #000;
    background-image: url("./images/p2.jpg");
    background-position: center;
    background-attachment: fixed;
}

.div5 {
    max-width: 1400px;
    margin: 0 auto;
}

.div5 h1 {
    font-size: 40px;
    text-align: center;
}

.div5 h2 {
    font-size: 20px;
    text-align: center;
}

.div5 .projects {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.div5 .project {
    box-shadow: 2px 5px 2px 3px #000;
    border: 1px solid #000;
    background-color: #343866;
    cursor: pointer;
    margin: 40px;
    width: 180px;
    height: 180px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    padding: 10px;
}

.div5 .project img {
    opacity: 1;
    transition: 1s ease-in;
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 20px;
    top: 0;
    left: 0;
}

.div5 .project:hover img {
    opacity: 0;
    transition: 1s ease-in;
}

.div5 a {
    text-decoration: none;
    color: #fff;
}

.div6 {
    max-width: 1400px;
    height: 400px;
    margin: 0 auto;
}

.div6 .text6 h1 {
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

.div6 .contact h1 {
    text-align: center;
    padding: 30px;
}

@media(max-width:1400px) {
    .text1 {
        width: 100%;
    }
    .div2 .text2 img {
        width: 25%;
        height: 250px;
    }
    .div2 .text2 p {
        width: 75%;
        height: 250px;
        font-size: 16px;
        padding: 20px;
        line-height: 20px;
    }
}

@media(max-width:1100px) {
    .text1 {
        width: 100%;
    }
    .div2 .text2 img {
        width: 35%;
        height: 250px;
    }
    .div2 .text2 p {
        width: 65%;
        height: 250px;
        font-size: 16px;
        padding: 20px;
        line-height: 20px;
    }
}

@media(max-width:800px) {
    .text1 {
        width: 100%;
    }
    .div2 .header2 {
        max-width: 1400px;
        background-color: #343866;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 0 0 0 0;
    }
    .div2 .text2 {
        max-width: 1400px;
        height: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .div2 .text2 img {
        width: 400px;
        height: 300px;
        border-radius: 0 0 0 0;
        margin: 0 auto;
    }
    .div2 .text2 p {
        width: 100%;
        height: 200px;
        font-size: 16px;
        padding: 20px;
        line-height: 20px;
        border-radius: 0 0 0 0;
    }
}

@media(max-width:600px) {
    .div1 h2 {
        font-size: 30px;
    }
    .div1 h1 {
        font-size: 40px;
    }
    .div1 h3 {
        font-size: 30px;
    }
    .div6 .contact h1 {
        text-align: center;
        padding: 30px;
        font-size: 20px;
    }
    .text1 {
        width: 100%;
    }
    .div2 .header2 {
        max-width: 1400px;
        background-color: #343866;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 0 0 0 0;
    }
    .div2 .text2 {
        max-width: 1400px;
        height: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .div2 .text2 img {
        width: 80%;
        height: 300px;
        border-radius: 0 0 0 0;
        margin: 0 auto;
    }
    .div2 .text2 p {
        width: 100%;
        height: 300px;
        font-size: 16px;
        padding: 20px;
        line-height: 20px;
        border-radius: 0 0 0 0;
    }
    .div4 {
        display: none;
    }
}

@media(max-width:400px) {
    .text1 {
        width: 100%;
    }
    .div2 .header2 {
        max-width: 1400px;
        background-color: #343866;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 0 0 0 0;
    }
    .div2 .text2 {
        max-width: 1400px;
        height: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .div2 .text2 img {
        width: 100%;
        height: 300px;
        border-radius: 0 0 0 0;
        margin: 0 auto;
    }
    .div2 .text2 p {
        width: 100%;
        height: 400px;
        font-size: 16px;
        padding: 20px;
        line-height: 20px;
        border-radius: 0 0 0 0;
    }
}